.cards-location {
  max-width: 1600px;
  margin: auto;
  padding: 20px;
}

.flashcard-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.creating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 30px;
}

.create-btn {
  background-color: #2d3748;
  color: white;
  font-size: 20px;
  margin-right: 30px;
}

#operations {
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#filterstatus {
  margin-right: 50px;
  padding: 15px;
  margin-bottom: 10px;
}

#sortOrder {
  margin-left: 50px;
  /* margin-left: 50px; */
  margin-bottom: 10px;
  padding: 15px;
  
}

.search {
  margin-top: 10px;
  padding: 15px;
  padding-right: 100px;
  width: 300px;
}

.checkbox-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.each-option {
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading{
  color: #2d3748;
  text-align: center;
  font-size: 25px;
}

.finished-loading{
  color: red;
  text-align: center;
  font-size: 25px;
}