.message-item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

h3 {
  margin-bottom: 5px;
}

p {
  margin: 5px 0;
}

.delete-btn {
  background-color: red !important;
  transition: all 0.5s;
  cursor: pointer;
}

.delete-btn:hover {
  background-color: darkred !important;
}
