
header{
  background-color: #fff;
  
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo img{
  width: 80px;
  height: 70px;
}

.options a {
  margin-left: 20px;
  text-decoration: none;
  color: #163020;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.5s;
}

.options a:hover {
  color: #0a0a0a;
}
